<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Currency-Exchange Delivery App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav" [ngbCollapse]="navbarCollapsed">
      <!-- <div class="collapse navbar-collapse justify-content-between" id="navbarNav"> -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">Currency-Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rates">Rates</a>
        </li>
      </ul>

      <ul class="navbar-nav">
      <div class="navbar-nav" *ngIf="!authToken">
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/signup">Signup</a>
      </div>
        <div class="navbar-nav" *ngIf="authToken">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
      </ul>

    </div>
  </nav>
</div>
<router-outlet></router-outlet>