<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="symbol">Buy/Sell</label>
            <select class="form-control" id="symbol" formControlName="buySell">
              <option value="Buy">Buy</option>
              <option value="Sell">Sell</option>
            </select>
        </div>

        <div class="form-group">
            <label for="amount">Exchange Amount</label>
            <input type="number" class="form-control" [(ngModel)]="amount" min=0 id="amount" placeholder="100" formControlName="amount">
        </div>


        <div class="form-group">
            <label for="symbol">Select buy/sell symbol!</label>
            <select class="form-control" id="symbol" formControlName="symbol">
              <!-- <option *ngFor="let item of currencyList | keyvalue" [ngValue]="item.key" value="item.key">{{item.key}}</option> -->
              <option *ngFor="let item of currencyList | keyvalue" [value]="item.key">{{item.key}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="convertedAmt">Converted Amount</label>
            <input type="number" class="form-control" disabled id="convertedAmt" formControlName="convertedAmt">
        </div>

        <label>Identification</label>
        <br>
        <input type="file" accept="image/*" formControlName="filename" #imageFile>

        <div class="form-group">
            <input type="hidden" class="form-control" id="number" formControlName="exchangeCreatedBy">
        </div>

    <button type="submit" class="mt-3 btn btn-success" [disabled]="form.invalid">Submit</button>
    <button type="button" class="mt-3 btn btn-warning" (click)="back()">Back</button>
    </form>

    <hr>

    <h3>Deliver to your current location</h3>
    <div id="map"></div>

    <hr>

        <div *ngIf="rateLists.length!=0">
            <h2>Exchange Rate List</h2>
            <br>
            Date: {{rateLists.date}}
            <ul class="list-group" *ngFor="let item of rateLists.rates | keyvalue">
                <!-- <li class="list-group-item" >{{item.key}} - {{item.value}}</li> -->
                <li class="list-group-item" [ngClass]="{'selectStyle':symbol === item.key}">{{item.key}} - {{item.value}}</li>
            </ul>
    
          </div>

    <hr>
        

</div>