<div class="container">
    <h1>Compare the exchange rates!</h1>
    <form [formGroup]="form" (ngSubmit)="gotobase()">
        <div class="form-group">
          <label for="base">Select the base to check the exchange rates, check the past rate!</label>
          <select class="form-control" id="base" formControlName="base">
            <option *ngFor="let item of currencyList | keyvalue" [ngValue]="item.key">{{item.key}}</option>
          </select>
        </div>
        <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Date</label>
          <div class="col-10">
            <input class="form-control" type="date" [value]="today" [max]="today" [min]="1999-01-04" id="example-date-input" formControlName="date">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Check!</button>
     
      <hr>

      <div *ngIf="rateLists.length!=0">
        <h1>Base: {{base}} | Date: {{rateLists.date}} | 1 {{base}} Conversion Rate</h1>

        <ul class="list-group" *ngFor="let item of rateLists.rates | keyvalue">
            <li class="list-group-item">{{item.key}} - {{item.value}}</li>
        </ul>

      </div>
      
    </form>
</div>